XTerm*renderFont: true
XTerm*faceName: VeraMono
XTerm*faceSize: 26
XTerm*foreground: rgb:00/b2/00
XTerm*background: rgb:00/00/00
xterm*saveLines: 25000
xterm*font:     *-fixed-*-*-*-32-*




! URxvt.font: xft:monaco:size=8

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt*foreground: rgb:00/b2/00
URxvt*background: rgb:00/00/00
URxvt.font:     xft:bitstream vera sans mono:size=8:antialias=true
URxvt*font:     *-fixed-*-*-*-32-*
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800
